*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: capitalize;
    }
body{
  background-color: #b2afaf;
}
.weather-input{
    padding: 1rem;
    font-weight: bold;

}
.weather-input input{
    width: 100%;
    padding: .5rem;
    border: 1px solid #4d4a4c;
    border-radius: 2px; 
    margin:10px 0 10px 0;
}
button{
    width: 50%;
    padding: .2rem ;
    outline: none;
    border-radius: 3px;
    font-size: 1rem;
    margin:5px 0 5px 0;
    
}
.weather-input .searchbtn{
    background-color: #b2b1b6;
}
.weather-input .locationbtn{
    background-color: rgb(179, 176, 176);
}
.currentdate{
    padding: 1rem;
    font-size: 1.5rem;
    text-decoration: none;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}


.container{
   display: flex;
   gap: 50px;
   padding: 1rem;
}
.weather-data{
    width: 100%;
}
.weather-data .current-weather {
    background-color:#b2b1b6;
    padding:1rem;
    border: 2px solid rgb(49, 46, 46);
    display: flex;
    justify-content: space-evenly;

}
.current-weather .details{
    font-size: 1rem;
}
.current-weather .icon{
    max-width:120px;
    margin-top: 3%;
}
.days-forecast{
    font-size: small;
 
}
.days-forecast .forecast-card{
    display: flex;
    justify-content:space-between;
    padding:.2rem;

}
.days-forecast .forecast-card .days{
  
    background-color: #b2b1b6;
    padding: .5rem 1rem;
    border: 2px solid rgb(13, 12, 12);
    border-radius: 3px;
    list-style: none;
    width: calc(100%/6);
    
    
}
.forecast-card .days .img{
    max-width: 70px;
}

@media (max-width: 1400px) {
    .weather-data .current-weather {
      padding: 20px;
    }
    .forecast-card {
      flex-wrap: wrap;
    }
    .forecast-card  .days {
      width: calc(100% / 4 - 15px);
    }
  }
  @media (max-width: 750px) {
    h1 {
      font-size: 1.45rem;
      padding: .5rem;
    }
    .container {
      flex-wrap: wrap;
      
      padding: 1rem;
    }
    .weather-input {
      width: 100%;
    }
    .days-forecast h2 {
      font-size: 1.35rem;

    }
  }

